.bginfo-description {
  margin: 2rem;
  padding: 2rem;
  h2 {
    font-size: calc(14px + 1vw);
  }
}

@media screen and (max-width: 760px) {
  .bginfo-description {
    margin: 1rem;
    padding: 1rem;
  }
}
