@import './anim.scss';
@import './variables.scss';

.bginfo-description {
  margin: 2rem;
  min-height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .bg-text {
      opacity: 1;
      background: $yellow;
      -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
    }
    .bg-icon {
      opacity: 0;
    }
  }
}
.bg-text {
  font-size: calc(1rem + 0.75vw);
  line-height: 3rem;
  opacity: 0;
  @include hover-transition;
  padding: 2rem;
  color: $black;
}
.bg-icon {
  font-size: 10rem;
  position: absolute;
  color: $brown1;
  z-index: 2;
  @include hover-transition;
}

@media screen and (max-width: 760px) {
  .bginfo-description {
    margin: 1rem;
    p {
      padding: 1rem;
      line-height: 2rem;
    }
  }
}
