@import "./anim-typewriter";
.bginfo-description {
  margin: 2rem;
  padding: 2rem;
  h2 {
    font-size: calc(14px + 1vw);
  }
}

@media screen and (max-width: 760px) {
  .bginfo-description {
    margin: 1rem;
    padding: 1rem;
  }
}

.ani-slide {
  animation: 1s slide-right 1s forwards;
  transform: translateX(-100%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
