.ending {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  h1 {
    padding: 2rem;
    font-size: calc(1rem + 1vw);
  }
  .try-again {
    margin: 1rem;
    padding: 1rem;
    a {
      text-decoration: underline;
    }
  }
}
