@import "./variables.scss";
.test-header {
  height: $height-header;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: relative;
  .last-choices-box {
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
    .choice {
      margin-right: 1rem;
    }
    .choice:first-of-type {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 760px) {
  .test-header {
    .last-choices-box {
      .choice {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
    .round {
      position: absolute;
      right: 1rem;
    }
  }
}
