//reset
body,
#root {
  height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 760px) {
  body,
  #root {
    height: auto;
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: transparent;
}
