//reset
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Ubuntu&display=swap');
@import './variables.scss';
body,
#root {
  height: 100vh;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 760px) {
  body,
  #root {
    height: auto;
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: transparent;
}

*::selection {
  background-color: $black;
  color: $purple1;
}
