.selection-box {
  height: 100%;
  width: 100%;
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  .answer {
    padding: 1rem;
    cursor: pointer;
    border: 2px solid #494949;
    border-radius: 4px;
    width: 10rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      transform: scale(1.1);
      border: 2px solid black;
    }
    h1 {
      font-size: calc(0.5rem + 0.8vw);
    }
  }

  .description {
    padding: 1rem;
    p {
      font-size: calc(0.5rem + 0.8vw);
    }
  }
}
.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .selection-box {
    width: 100%;
    height: calc(50vh - 3px);
    .title,
    .description,
    .answer {
      padding: 0.5rem;
    }
    .answer {
      width: 5rem;
      height: 1.5rem;
      h1 {
        font-size: 1rem;
      }
    }
    .description {
      p {
        font-size: 1rem;
      }
    }
  }
}
