.selection-box {
  height: 100%;
  width: 50%;
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  .title,
  .description,
  .answer {
    margin: 1rem;
    padding: 1rem;
  }
  .answer {
    cursor: pointer;
    border: 2px solid #494949;
    border-radius: 4px;
    width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      transform: scale(1.2);
      border: 2px solid black;
    }
    h1 {
      font-size: calc(20px + 1vw);
    }
  }

  .description {
    p {
      font-size: calc(12px + 1vw);
    }
  }
}

@media screen and (max-width: 760px) {
  .selection-box {
    width: 100%;
    height: calc(50vh - 3px);
    .title,
    .description,
    .answer {
      margin: 1rem;
      padding: 1rem;
    }
    .answer {
      width: 7rem;
      height: 1rem;
    }
  }
}
