@import "./anim-typewriter.scss";
@import "./variables.scss";

.test {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

.test-selection {
  height: $height-selection;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

@media screen and (max-width: 760px) {
  .test-selection {
    flex-direction: column;
    height: auto;
  }
}

.test-bginfo {
  height: $height-bginfo;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

@media screen and (max-width: 760px) {
  .test-bginfo {
    height: calc(100vh - #{$height-header} - 4px);
  }
}
