@import "./anim-typewriter";
.test {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}
//height
$height-header: 5vh;
$height-bginfo: 50vh;
$height-selection: calc(100vh - #{$height-bginfo} - #{$height-header} - 6px);

.test-header {
  height: $height-header;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: relative;
  .last-choices-box {
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
    .choice {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 760px) {
  .test-header {
    .last-choices-box {
      .choice {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
    .round {
      position: absolute;
      right: 1rem;
    }
  }
}

.test-selection {
  height: $height-selection;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

@media screen and (max-width: 760px) {
  .test-selection {
    flex-direction: column;
    height: auto;
  }
}

.test-bginfo {
  height: $height-bginfo;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

@media screen and (max-width: 760px) {
  .test-bginfo {
    height: calc(100vh - #{$height-header} - 4px);
  }
}
